wxPython~=4.2.2
ffmpeg-python~=0.2.0
six~=1.17.0
pillow~=11.1.0
numpy~=2.2.2
pip~=25.0.1
Eel~=0.18.1
typing_extensions~=4.12.2
bottle~=0.13.2
gevent-websocket~=0.10.1
gevent~=24.11.1
pyparsing~=3.2.1
pyinstaller~=6.11.1
cffi~=1.17.1
setuptools~=75.8.0
future~=1.0.0
greenlet~=3.1.1
pygame~=2.6.1
PyOpenGL~=3.1.9
opencv-python~=4.5.5.64
certifi~=2025.1.31
urllib3~=2.3.0
altgraph~=0.17.4
idna~=3.10
charset-normalizer~=3.4.1
packaging~=24.2
pefile~=2023.2.7
pycparser~=2.22
pywin32-ctypes~=0.2.3
requests~=2.32.3
pyinstaller-hooks-contrib~=2025.1
ffmpeg~=1.4
pyperclip~=1.9.0